{
    "openapi": "3.0.0",
    "info": {
        "title": "Minutor API",
        "description": "Sistema de apontamento de horas e despesas",
        "contact": {
            "email": "admin@minutor.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Servidor de Desenvolvimento"
        }
    ],
    "paths": {
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Login do usuário",
                "description": "Autentica um usuário e retorna token de acesso",
                "operationId": "5db09a35f965c6ca7529ed3c3cae8e21",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@minutor.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "admin123456"
                                    },
                                    "device_name": {
                                        "description": "Nome do dispositivo (opcional)",
                                        "type": "string",
                                        "example": "web-app"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login realizado com sucesso"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Administrador"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@minutor.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": "2024-01-01T00:00:00.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|abc123..."
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciais inválidas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Credenciais inválidas"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados de validação inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dados inválidos"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Muitas tentativas de login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Muitas tentativas de login. Tente novamente em alguns minutos."
                                        },
                                        "retry_after": {
                                            "type": "integer",
                                            "example": 60
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Logout do usuário",
                "description": "Desconecta o usuário (revoga token atual)",
                "operationId": "8f1a443d39c3bf383f851fbb51253c64",
                "responses": {
                    "200": {
                        "description": "Logout realizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logout realizado com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido ou expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/logout-all": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Logout de todos os dispositivos",
                "description": "Desconecta o usuário de todos os dispositivos",
                "operationId": "6459a0cd43759a0f99dd33d77c1d15c6",
                "responses": {
                    "200": {
                        "description": "Logout realizado em todos os dispositivos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logout realizado em todos os dispositivos"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido ou expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/user": {
            "get": {
                "tags": [
                    "Usuário"
                ],
                "summary": "Dados do usuário autenticado",
                "description": "Retorna dados do usuário autenticado",
                "operationId": "6804f9f92bfdc4d8fe300f2c5cc35d19",
                "responses": {
                    "200": {
                        "description": "Dados do usuário",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Administrador"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@minutor.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": "2024-01-01T00:00:00.000000Z"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2024-01-01T00:00:00.000000Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2024-01-01T00:00:00.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido ou expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/user/profile": {
            "put": {
                "tags": [
                    "Usuário"
                ],
                "summary": "Atualizar dados do usuário",
                "description": "Atualiza dados do perfil do usuário",
                "operationId": "44fc113232a930e57971cbaed6db3fba",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Novo Nome"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "novo@email.com"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Perfil atualizado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Perfil atualizado com sucesso"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Novo Nome"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "novo@email.com"
                                                },
                                                "email_verified_at": {
                                                    "type": "string",
                                                    "example": "2024-01-01T00:00:00.000000Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados de validação inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dados inválidos"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido ou expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/user/theme-preference": {
            "put": {
                "tags": [
                    "Usuário"
                ],
                "summary": "Atualizar preferência de tema",
                "description": "Permite ao usuário atualizar sua preferência de tema (claro/escuro)",
                "operationId": "17254ec4ba73af3f7c96cc551b9b2e77",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "theme_preference": {
                                        "type": "string",
                                        "enum": [
                                            "light",
                                            "dark"
                                        ],
                                        "example": "dark"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Preferência de tema atualizada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Preferência de tema atualizada com sucesso"
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "João Silva"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "joao@email.com"
                                                },
                                                "theme_preference": {
                                                    "type": "string",
                                                    "example": "dark"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados de validação inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dados inválidos"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/change-password": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Alterar senha do usuário",
                "description": "Altera a senha do usuário autenticado",
                "operationId": "44fe4c4d98e162cb87389075195f88d4",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "senha_atual"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "nova_senha_123"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "nova_senha_123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Senha alterada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Senha alterada com sucesso. Faça login novamente."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Senha atual incorreta",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Senha atual incorreta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados de validação inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dados inválidos"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido ou expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/verify-token": {
            "get": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Verificar validade do token",
                "description": "Verifica se token atual é válido",
                "operationId": "2841fcafb0c64c58ec4eff3ff2ce606b",
                "responses": {
                    "200": {
                        "description": "Token válido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Token válido"
                                        },
                                        "valid": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Administrador"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "admin@minutor.com"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token inválido ou expirado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/change-temporary-password": {
            "post": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Alterar senha temporária",
                "description": "Permite ao usuário alterar uma senha temporária para uma definitiva",
                "operationId": "842a954f861f8ff9c8b15b132b5444bf",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "new_password",
                                    "new_password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "temp123456"
                                    },
                                    "new_password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "nova_senha_123"
                                    },
                                    "new_password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "nova_senha_123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Senha alterada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Senha alterada com sucesso"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Usuário não possui senha temporária",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Usuário não possui senha temporária"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Senha atual inválida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Senha atual inválida"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados de validação inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Dados inválidos"
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/permissions": {
            "get": {
                "tags": [
                    "Autenticação"
                ],
                "summary": "Obter permissões do usuário logado",
                "description": "Retorna todas as permissões do usuário autenticado",
                "operationId": "b5c55ec066b9ac33874250b0fdefe761",
                "responses": {
                    "200": {
                        "description": "Permissões obtidas com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Permissões obtidas com sucesso"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Administrador"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "admin@minutor.com"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "permissions": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "users.view"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/contract-types": {
            "get": {
                "tags": [
                    "Contract Types"
                ],
                "summary": "Listar tipos de contrato",
                "description": "Lista todos os tipos de contrato ativos",
                "operationId": "00e598fd8c299026b0a445bfbb68bd30",
                "responses": {
                    "200": {
                        "description": "Lista de tipos de contrato",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hasNext": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Banco de Horas Fixo"
                                                    },
                                                    "code": {
                                                        "type": "string",
                                                        "example": "fixed_hours"
                                                    },
                                                    "active": {
                                                        "type": "boolean",
                                                        "example": true
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "example": "Contrato com banco de horas fixo"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/customers": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Listar customers",
                "description": "Lista customers com paginação, filtros e ordenação",
                "operationId": "a29d5f0bab561196b8e3bd82422e58e6",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Página (padrão: 1)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "example": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Registros por página (padrão: 15, máximo: 100)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1,
                            "example": 15
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Busca por name ou CGC",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "João"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordenação (ex: name,-created_at)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "name,-created_at"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de customers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hasNext": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "cgc": {
                                                        "type": "string"
                                                    },
                                                    "formatted_cgc": {
                                                        "type": "string"
                                                    },
                                                    "cgc_type": {
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autenticado"
                    },
                    "403": {
                        "description": "Sem permissão"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Customers"
                ],
                "summary": "Criar customer",
                "description": "Cria um novo customer no sistema",
                "operationId": "1d27da36718a3e9726c873633af496da",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "cgc"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Nome do cliente",
                                        "type": "string",
                                        "example": "João Silva"
                                    },
                                    "cgc": {
                                        "description": "CPF ou CNPJ (apenas números)",
                                        "type": "string",
                                        "example": "12345678901"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Customer criado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "cgc": {
                                            "type": "string"
                                        },
                                        "formatted_cgc": {
                                            "type": "string"
                                        },
                                        "cgc_type": {
                                            "type": "string"
                                        },
                                        "created_at": {
                                            "type": "string"
                                        },
                                        "updated_at": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dados inválidos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "code": {
                                            "type": "string"
                                        },
                                        "type": {
                                            "type": "string"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "detailMessage": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/customers/{id}": {
            "get": {
                "tags": [
                    "Customers"
                ],
                "summary": "Visualizar customer",
                "description": "Exibe detalhes de um customer específico",
                "operationId": "155f59b614e1620e56fcc62e7ac86776",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do customer",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes do customer",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Customer não encontrado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Customers"
                ],
                "summary": "Atualizar customer",
                "description": "Atualiza um customer existente",
                "operationId": "ba374f3626d9dc83865e940b91d5d6dd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do customer",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "João Silva Santos"
                                    },
                                    "cgc": {
                                        "type": "string",
                                        "example": "12345678901"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Customer atualizado com sucesso"
                    },
                    "404": {
                        "description": "Customer não encontrado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Customers"
                ],
                "summary": "Excluir customer",
                "description": "Remove um customer do sistema (soft delete)",
                "operationId": "b01ba7fa065f0d5c08b1bbc777ab7108",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do customer",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Customer excluído com sucesso"
                    },
                    "404": {
                        "description": "Customer não encontrado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/expense-categories": {
            "get": {
                "tags": [
                    "ExpenseCategories"
                ],
                "summary": "Lista categorias de despesas",
                "description": "Retorna lista de categorias de despesas ativas, com opção de filtrar por categoria principal ou subcategorias",
                "operationId": "1f695aa86b878ef95cd806337c7ac8c6",
                "parameters": [
                    {
                        "name": "main_only",
                        "in": "query",
                        "description": "Filtrar apenas categorias principais (sem pai)",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "example": "true"
                        }
                    },
                    {
                        "name": "parent_id",
                        "in": "query",
                        "description": "ID da categoria pai para listar subcategorias",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de categorias retornada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hasNext": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ExpenseCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/expense-categories/{id}": {
            "get": {
                "tags": [
                    "ExpenseCategories"
                ],
                "summary": "Busca categoria por ID",
                "description": "Retorna uma categoria específica com suas subcategorias",
                "operationId": "b10f97a3791927023a875790c9565c82",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da categoria",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/ExpenseCategory"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoria não encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/expense-categories/tree": {
            "get": {
                "tags": [
                    "ExpenseCategories"
                ],
                "summary": "Árvore de categorias",
                "description": "Retorna estrutura hierárquica completa das categorias",
                "operationId": "55cb2de2da4a664204ad3365dc8878f3",
                "responses": {
                    "200": {
                        "description": "Árvore de categorias",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/ExpenseCategory"
                                                    },
                                                    {
                                                        "properties": {
                                                            "children": {
                                                                "type": "array",
                                                                "items": {
                                                                    "$ref": "#/components/schemas/ExpenseCategory"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/expense-categories/main": {
            "get": {
                "tags": [
                    "ExpenseCategories"
                ],
                "summary": "Categorias principais",
                "description": "Retorna apenas categorias principais (sem pai)",
                "operationId": "f92a6e876471035685e4896068d371a3",
                "responses": {
                    "200": {
                        "description": "Categorias principais",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hasNext": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ExpenseCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/expense-categories/{parentId}/subcategories": {
            "get": {
                "tags": [
                    "ExpenseCategories"
                ],
                "summary": "Subcategorias",
                "description": "Retorna subcategorias de uma categoria específica",
                "operationId": "e20b9f2be6762c973a2f260cbf3ffa5e",
                "parameters": [
                    {
                        "name": "parentId",
                        "in": "path",
                        "description": "ID da categoria pai",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Subcategorias encontradas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hasNext": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ExpenseCategory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoria pai não encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/expenses": {
            "get": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Listar despesas",
                "description": "Lista despesas com paginação, filtros e ordenação seguindo padrões PO-UI",
                "operationId": "getExpenses",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número da página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Itens por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordenação (ex: expense_date,-amount)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Busca na descrição",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "project_id",
                        "in": "query",
                        "description": "Filtrar por projeto",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "customer_id",
                        "in": "query",
                        "description": "Filtrar por cliente do projeto",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Filtrar por usuário solicitante",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filtrar por status",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pending",
                                "approved",
                                "rejected",
                                "adjustment_requested"
                            ]
                        }
                    },
                    {
                        "name": "expense_type",
                        "in": "query",
                        "description": "Filtrar por tipo de despesa",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "corporate_card",
                                "reimbursement"
                            ]
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Filtrar por categoria",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Data inicial (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Data final (YYYY-MM-DD)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de despesas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "hasNext": {
                                            "type": "boolean"
                                        },
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Expense"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Criar nova despesa",
                "description": "Cria uma nova despesa com upload opcional de comprovante",
                "operationId": "createExpense",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "project_id",
                                    "expense_category_id",
                                    "expense_date",
                                    "description",
                                    "amount",
                                    "expense_type",
                                    "payment_method"
                                ],
                                "properties": {
                                    "project_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "expense_category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "expense_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-15"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Táxi para visita ao cliente"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "decimal",
                                        "example": 78.9
                                    },
                                    "expense_type": {
                                        "type": "string",
                                        "enum": [
                                            "corporate_card",
                                            "reimbursement"
                                        ],
                                        "example": "reimbursement"
                                    },
                                    "payment_method": {
                                        "type": "string",
                                        "enum": [
                                            "corporate_card",
                                            "cash",
                                            "bank_transfer",
                                            "pix",
                                            "check",
                                            "other"
                                        ],
                                        "example": "cash"
                                    },
                                    "receipt": {
                                        "description": "Arquivo de comprovante (opcional)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Despesa criada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Expense"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/expenses/{id}": {
            "get": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Visualizar despesa específica",
                "description": "Retorna detalhes de uma despesa específica",
                "operationId": "getExpense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da despesa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalhes da despesa",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Expense"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Atualizar despesa",
                "description": "Atualiza uma despesa existente (apenas se pendente ou com ajuste solicitado)",
                "operationId": "updateExpense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da despesa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "project_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "expense_category_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "expense_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-01-15"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Táxi para visita ao cliente"
                                    },
                                    "amount": {
                                        "type": "number",
                                        "format": "decimal",
                                        "example": 78.9
                                    },
                                    "expense_type": {
                                        "type": "string",
                                        "enum": [
                                            "corporate_card",
                                            "reimbursement"
                                        ],
                                        "example": "reimbursement"
                                    },
                                    "payment_method": {
                                        "type": "string",
                                        "enum": [
                                            "corporate_card",
                                            "cash",
                                            "bank_transfer",
                                            "pix",
                                            "check",
                                            "other"
                                        ],
                                        "example": "cash"
                                    },
                                    "receipt": {
                                        "description": "Novo arquivo de comprovante (opcional)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Despesa atualizada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Expense"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Excluir despesa",
                "description": "Exclui uma despesa (apenas se pendente)",
                "operationId": "deleteExpense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da despesa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Despesa excluída com sucesso"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/expenses/{id}/approve": {
            "post": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Aprovar despesa",
                "description": "Aprova uma despesa pendente ou com ajuste solicitado",
                "operationId": "approveExpense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da despesa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "charge_client": {
                                        "description": "Se será cobrado do cliente",
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Despesa aprovada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Expense"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Despesa aprovada com sucesso!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/expenses/{id}/reject": {
            "post": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Rejeitar despesa",
                "description": "Rejeita uma despesa pendente ou com ajuste solicitado",
                "operationId": "rejectExpense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da despesa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason"
                                ],
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Comprovante ilegível"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Despesa rejeitada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Expense"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Despesa rejeitada com sucesso!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/expenses/{id}/request-adjustment": {
            "post": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Solicitar ajuste na despesa",
                "description": "Solicita ajuste em uma despesa pendente",
                "operationId": "requestAdjustmentExpense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da despesa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason"
                                ],
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Favor corrigir a data da despesa"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ajuste solicitado com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Expense"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Ajuste solicitado com sucesso!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/expenses/{id}/reverse-approval": {
            "post": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Estornar aprovação da despesa",
                "description": "Estorna a aprovação de uma despesa, retornando-a ao status pendente",
                "operationId": "reverseApprovalExpense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da despesa",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason"
                                ],
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "example": "Aprovação realizada por engano"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Aprovação estornada com sucesso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Expense"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Aprovação estornada com sucesso!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/expenses/{id}/reverse-rejection": {
            "post": {
                "tags": [
                    "Expenses"
                ],
                "summary": "Estornar rejeição da despesa",
                "description": "Estorna a rejeição de uma despesa, retornando-a ao status pendente",
                "operationId": "reverseRejectionExpense",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da despesa",
                        "required": true,
[...]
